# Azure DevOps pipeline to build, check source codes, run tests, and deploy.
#
# To make Danger JS run on a pull request you need to add the following pipeline
# variable and set it with a GitHub access token (scope public_repo); otherwise
# set its value to 'skip' without marking it secret:
# - DANGER_GITHUB_API_TOKEN
#
# To enable the bundle of a new release you need to configure the following
# global variable otherwise all the deployment jobs will be always skipped:
# - DO_RELEASE = true
# To enable the deployment in any environment you need to configure the following
# global variable otherwise all the deployment jobs will be always skipped:
# - DO_DEPLOY = true
#
# you also need to configure the following additional parameters based on the
# environment(s) to update when running the pipeline:
# - PRODUCTION_ENABLE_DEPLOY = true
# - TEST_ENABLE_DEPLOY = true
#
# The following parameter and variables must also be set to run the deployment:
# - PRODUCTION_DEPLOY_TYPE:
#    -- 'deployToStagingSlot': deploy to 'staging' slot
#    -- 'deployToProductionSlot' (default): deploy to 'production' slot
#    -- 'deployToStagingSlotAndSwap': deploy to 'staging' slot and then swap
# - PRODUCTION_AZURE_SUBSCRIPTION
# - PRODUCTION_RESOURCE_GROUP_NAME
# - PRODUCTION_APP_NAME
#
# - TEST_DEPLOY_TYPE:
#      -- 'deployToTestSlot' (default): deploy to 'test' slot
#      -- 'deployToProductionSlot': deploy to 'production' slot (TEST env)
# - TEST_AZURE_SUBSCRIPTION
# - TEST_RESOURCE_GROUP_NAME
# - TEST_APP_NAME
#
# Please note that the deployment to a slot (e.g. 'staging') could automatically
# trigger the swapping with 'production' slot if "auto swap" has been enabled in
# the App service configuration. This also means that if the "auto swap" is on and
# you select 'deployToStagingSlotAndSwap' to swap 'staging' and 'production' slots
# after deploying to 'staging', the swap task in this pipeline will probably fail
# because conflicting with another (automatic) swap operation in progress.
#
variables:
  NODE_VERSION: '10.14.1'
  YARN_CACHE_FOLDER: $(Pipeline.Workspace)/.yarn

parameters:
  - name: 'TEST_ENABLE_DEPLOY'
    displayName: 'Enable deploy in test environment'
    type: boolean
    default: false

  - name: 'TEST_DEPLOY_TYPE'
    displayName: 'Method to achieve deployment in Test (if enabled):'
    type: string
    default: deployToTestSlot
    values:
      - deployToTestSlot
      - deployToProductionSlot

  - name: 'PRODUCTION_ENABLE_DEPLOY'
    displayName: 'Enable deploy in production environment'
    type: boolean
    default: true

  - name: 'PRODUCTION_DEPLOY_TYPE'
    displayName: 'Method to achieve deployment in Production (if enabled):'
    type: string
    default: deployToStagingSlotAndSwap
    values:
      - deployToStagingSlot
      - deployToProductionSlot
      - deployToStagingSlotAndSwap

  - name: 'RELEASE_SEMVER'
    displayName: 'When packing a release, define the version bump to apply'
    type: string
    values:
      - major
      - minor
      - patch
    default: minor

# Feature branches triggers the pipeline for pull request testing
# Master branch does't trigger the pipeline as it is meant to be the production branch
# Running the pipeline manually from master will deploy the application (see deploy stages for further conditions)
trigger:
  branches:
    include:
      - '*'
    exclude:
      - 'master'

# This pipeline has been implemented to be run on hosted agent pools based both
# on 'windows' and 'ubuntu' virtual machine images and using the scripts defined
# in the package.json file. Since we are deploying on Azure functions on Windows
# runtime, the pipeline is currently configured to use a Windows hosted image for
# the build and deploy.
pool:
  vmImage: 'windows-2019'

resources:
  repositories:
    - repository: pagopaCommons
      type: github
      name: pagopa/azure-pipeline-templates
      ref: refs/tags/v1
      endpoint: 'pagopa'

stages:
  # A) Build and code validation
  - stage: Build
    dependsOn: []
    jobs:
      # A1) Checkout, install module and build code
      - job: make_build
        steps:
        - template: azure-templates/make-build-steps.yml
          parameters:
            make: build

      # A2) Analyze source code to find errors with lint
      - job: lint
        pool:
          vmImage: 'ubuntu-latest'
        steps:
        - template: azure-templates/make-build-steps.yml
          parameters:
            make: install_dependencies

        - script: |
            yarn lint
          displayName: 'Lint'

      # A3) Validate API definition
      - job: lint_api
        pool:
          vmImage: 'ubuntu-latest'
        steps:
        - script: |
            npx oval validate -p openapi/index.yaml
          displayName: 'Validate openAPI'

      # A4) Run Danger (skipping if not executing on a PR)
      - job: danger
        pool:
          vmImage: 'ubuntu-latest'
        condition:
          and(
            succeeded(),
            and(
              eq(variables['Build.Reason'], 'PullRequest'),
              ne(variables['DANGER_GITHUB_API_TOKEN'], 'skip')
            )
          )
        steps:
          - template: azure-templates/make-build-steps.yml
            parameters:
              make: install_dependencies

          - bash: |
              yarn danger ci
            env:
              DANGER_GITHUB_API_TOKEN: '$(DANGER_GITHUB_API_TOKEN)'
            displayName: 'Danger CI'


  # B) Run unit tests if there is a push or pull request on any branch.
  - stage: Test
    dependsOn: []
    pool:
      vmImage: 'ubuntu-latest'
    jobs:
      - job: unit_tests
        steps:
        - template: azure-templates/make-build-steps.yml
          parameters:
            make: install_dependencies

        - script: |
            yarn test:coverage
          displayName: 'Unit tests exec'

        - bash: |
            bash <(curl -s https://codecov.io/bash)
          displayName: 'Code coverage'

  # C) Create a relase
  # Activated when all these are met:
  # - is a manual trigger
  # - is on branch master or is a tag in the form v{version}-RELEASE
  # - DO_RELEASE is true
  - stage: Release
    condition:
      and(
        succeeded(),
        and(
          or(
            eq(variables['Build.SourceBranch'], 'refs/heads/master'),
            and(
              startsWith(variables['Build.SourceBranch'], 'refs/tags'),
              endsWith(variables['Build.SourceBranch'], '-RELEASE')
            )
          ),
          eq(variables['Build.Reason'], 'Manual')
        )
      )
    dependsOn:
      - Build
      - Test
    pool:
      vmImage: 'ubuntu-latest'
    jobs:
      - job: make_release
        steps:
        - ${{ if eq(variables['Build.SourceBranch'], 'refs/heads/master') }}:
          - template: azure-templates/make-release-steps.yml
            parameters:
              semver: '${{ parameters.RELEASE_SEMVER }}'
              gitEmail: $(GIT_EMAIL)
              gitUsername: $(GIT_USERNAME)
              gitHubConnection: $(GITHUB_CONNECTION)
        - ${{ if ne(variables['DO_RELEASE'], true) }}:
          - script: |
              echo "Release stage disabled."
            displayName: 'Skip release bundle'
        - ${{ if ne(variables['Build.SourceBranch'], 'refs/heads/master') }}:
          - script: |
              echo "We assume this reference to be a valid release: $(Build.SourceBranch). Therefore, there is no need to bundle a new release."
            displayName: 'Skip release bundle'

  # D) Deploy to TEST environment if the following conditions apply:
  #    - continuos deployment (automatic):
  #       - $DO_DEPLOY == true and TEST_ENABLE_DEPLOY == true
  #       - there is a push on 'master' branch
  #    - manual deployment:
  #       - $DO_DEPLOY == true and TEST_ENABLE_DEPLOY == true
  - ${{ if eq(parameters.TEST_ENABLE_DEPLOY, true) }}:
    - stage: Deploy_test
      condition:
        and(
          succeeded(),
          and (
            eq(variables['DO_DEPLOY'], true),
            eq(variables['Build.Reason'], 'Manual')
          )
        )
      dependsOn:
        - Build
        - Test
        - Release
      jobs:
        - job: '${{ parameters.TEST_DEPLOY_TYPE }}'
          steps:
          - template: azure-templates/deploy-steps.yml
            parameters:
              deployType: '${{ parameters.TEST_DEPLOY_TYPE }}'
              azureSubscription: '$(TEST_AZURE_SUBSCRIPTION)'
              resourceGroupName: '$(TEST_RESOURCE_GROUP_NAME)'
              appName: '$(TEST_APP_NAME)'
              healthcheckEndpoint: 'https://$(TEST_APP_NAME)-staging.azurewebsites.net/info'
              containerInstanceResourceGroup: 'io-p-rg-common'
              containerInstanceVNet: 'io-p-vnet-common'
              containerInstanceSubnet: 'azure-devops'
              # On the assumption that this stage is executed only when Relase stage is,
              #  with this parameter we set the reference the deploy script must pull changes from.
              # The branch/tag name is calculated from the source branch
              #  ex: Build.SourceBranch=refs/heads/master --> master
              #  ex: Build.SourceBranch=refs/tags/v1.2.3-RELEASE --> v1.2.3-RELEASE
              gitReference: ${{ replace(replace(variables['Build.SourceBranch'], 'refs/tags/', ''), 'refs/heads/', '') }}


  # E) Deploy to PRODUCTION environment if one of the following conditions apply:
  #    - continuos deployment (automatic):
  #       - $DO_DEPLOY == true and PRODUCTION_ENABLE_DEPLOY == true
  #       - the 'latest' tag is pushed
  #    - manual deployment:
  #       - $DO_DEPLOY == true and PRODUCTION_ENABLE_DEPLOY == true
  - ${{ if eq(parameters.PRODUCTION_ENABLE_DEPLOY, true) }}:
    - stage: Deploy_production
      condition:
        and(
          succeeded(),
          and (
            eq(variables['DO_DEPLOY'], true),
            eq(variables['Build.Reason'], 'Manual')
          )
        )
      dependsOn:
        - Build
        - Test
        - Release
      jobs:
        - job: '${{ parameters.PRODUCTION_DEPLOY_TYPE }}'
          steps:
          - template: azure-templates/deploy-steps.yml
            parameters:
              deployType: '${{ parameters.PRODUCTION_DEPLOY_TYPE }}'
              azureSubscription: '$(PRODUCTION_AZURE_SUBSCRIPTION)'
              resourceGroupName: '$(PRODUCTION_RESOURCE_GROUP_NAME)'
              appName: '$(PRODUCTION_APP_NAME)'
              healthcheckEndpoint: 'https://$(PRODUCTION_APP_NAME)-staging.azurewebsites.net/info'
              containerInstanceResourceGroup: 'io-p-rg-common'
              containerInstanceVNet: 'io-p-vnet-common'
              containerInstanceSubnet: 'azure-devops'
              # On the assumption that this stage is executed only when Relase stage is,
              #  with this parameter we set the reference the deploy script must pull changes from.
              # The branch/tag name is calculated from the source branch
              #  ex: Build.SourceBranch=refs/heads/master --> master
              #  ex: Build.SourceBranch=refs/tags/v1.2.3-RELEASE --> v1.2.3-RELEASE
              gitReference: ${{ replace(replace(variables['Build.SourceBranch'], 'refs/tags/', ''), 'refs/heads/', '') }}
