# see https://help.github.com/en/articles/about-code-owners#example-of-a-codeowners-file

* @pagopa/io-backend-contributors
/infra/identity/ @pagopa/io-backend-contributors @pagopa/engineering-team-devex
