PUBLIC_API_URL=http://functions-services.localhost
PUBLIC_API_KEY=XXXX

AssetsStorageConnection=<STORAGE_CONNECTION_STRING>
AzureWebJobsStorage=<STORAGE_CONNECTION_STRING>
StorageConnection=<STORAGE_CONNECTION_STRING>

LOGOS_URL=http://example.com

MESSAGE_CONTAINER_NAME=message-content

#### DOWNLOAD

USER_DATA_CONTAINER_NAME=user-data-download
PUBLIC_DOWNLOAD_BASE_URL=https://<STORAGE>.blob.core.windows.net/user-data-download
UserDataArchiveStorageConnection=<STORAGE_CONNECTION_STRING>

#### DELETE

SESSION_API_URL=https://localhost:8000
SESSION_API_KEY=12345

USER_DATA_BACKUP_CONTAINER_NAME=user-data-backup
USER_DATA_DELETE_DELAY_DAYS=0
UserDataBackupStorageConnection=<STORAGE_CONNECTION_STRING>

### COSMOSDB

COSMOSDB_CONNECTION_STRING=<COSMOSDB_CONNECTION_STRING>
COSMOSDB_URI=https://io-d-cosmos-free.documents.azure.com:443/
COSMOSDB_KEY=<COSMOSDB_KEY>
COSMOSDB_NAME=<COSMOSDB_NAME>

### API MANAGEMENT

ADB2C_CLIENT_ID=1
ADB2C_CLIENT_KEY=1
ADB2C_TENANT_ID=1
ADB2C_TOKEN_ATTRIBUTE_NAME=extension_attribute_name
SERVICE_PRINCIPAL_CLIENT_ID=1
SERVICE_PRINCIPAL_SECRET=1
SERVICE_PRINCIPAL_TENANT_ID=1
AZURE_APIM=1
AZURE_APIM_HOST=1
AZURE_APIM_RESOURCE_GROUP=1
AZURE_SUBSCRIPTION_ID=1

# ONLY FOR DEV ENVIRONMENT

NODE_ENV=dev

NODE_TLS_REJECT_UNAUTHORIZED=0

languageWorkers__node__arguments="--inspect=0.0.0.0:5861"

# AzureWebJobs.UpdateVisibleServicesCache.Disabled=true

SubscriptionFeedStorageConnection=<STORAGE_CONNECTION_STRING>
SUBSCRIPTIONS_FEED_TABLE=SubscriptionsFeedByDay

FailedUserDataProcessingStorageConnection=<STORAGE_CONNECTION_STRING>
FAILED_USER_DATA_PROCESSING_TABLE=FailedUserDataProcessing
