LOGOS_URL=localhost
LogosStorageConnection=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;TableEndpoint=http://127.0.0.1:10002/devstoreaccount1;QueueEndpoint=http://127.0.0.1:10001/devstoreaccount1;

SERVICE_PRINCIPAL_CLIENT_ID=service-principal-client-id
SERVICE_PRINCIPAL_SECRET=service-principal-secret
SERVICE_PRINCIPAL_TENANT_ID=service-principa-tenant-id
AZURE_APIM=azure-apim
AZURE_APIM_RESOURCE_GROUP=azure-apim-resource-group
AZURE_SUBSCRIPTION_ID=azure-subscription-id
