swagger: "2.0"
info:
  version: 1.0.0
  title: IO API for administration purpose
  contact:
    name: Digital Transformation Team
    url: https://forum.italia.it/c/progetto-io
  x-logo:
    url: https://io.italia.it/assets/img/io-logo-blue.svg
  description: >
    # Warning

    **This is an experimental API that is (most probably) going to change as we evolve the IO platform.**

    # Introduction

    This is the documentation of the IO API for administration purpose of the platform.

host: api.cd.italia.it
basePath: "/adm"
schemes:
  - https
security:
  - SubscriptionKey: []
paths:
  "/services/{service_id}":
    parameters:
      - name: service_id
        in: path
        type: string
        required: true
        description: The ID of an existing Service.
    get:
      operationId: getService
      summary: Get Service
      description: A previously created service with the provided service ID is returned.
      responses:
        "200":
          description: Service found.
          schema:
            "$ref": "#/definitions/Service"
          examples:
            application/json:
              id: 2b3e728c1a5d1efa035c-0000000000000001
              authorized_recipients:
                - XXXYYY79A95Y000X
              department_name: dept
              organization_name: org
              service_id: 2b3e728c1a5d1efa035c
              service_name: service
              version: 1
              authorized_cidrs: []
        "401":
          description: Unauthorized
        "404":
          description: No service found for the provided ID.
      parameters: []
    put:
      responses:
        "200":
          description: Service updated.
          schema:
            "$ref": "#/definitions/Service"
          examples:
            application/json:
              id: 2b3e728c1a5d1efa035c-0000000000000001
              authorized_recipients:
                - XXXYYY79A95Y000X
              department_name: dept
              organization_name: org
              service_id: 2b3e728c1a5d1efa035c
              service_name: service
              version: 1
              authorized_cidrs: []
        "401":
          description: Unauthorized
        "404":
          description: No service found for the provided ID.
      summary: Update Service
      operationId: updateService
      description: |-
        Update an existing service with the attributes provided in the
        request payload.
      parameters:
        - in: body
          name: body
          schema:
            "$ref": "#/definitions/Service"
          description: The Service payload.
          x-examples:
            application/json:
              authorized_recipients:
                - XXXYYY79A95Y000X
              department_name: dept
              organization_name: org
              service_id: 2b3e728c1a5d1efa035c
              service_name: service
              authorized_cidrs: []
  "/services":
    post:
      responses:
        "200":
          description: Service created.
          schema:
            "$ref": "#/definitions/Service"
          examples:
            application/json:
              id: 2b3e728c1a5d1efa035c-0000000000000001
              authorized_recipients:
                - XXXYYY79A95Y000X
              department_name: dept
              organization_name: org
              service_id: 2b3e728c1a5d1efa035c
              service_name: service
              version: 1
              authorized_cidrs: []
        "401":
          description: Unauthorized
      summary: Create Service
      description: |-
        Create a new Service with the attributes provided in the requst
        payload.
      operationId: createService
      parameters:
        - in: body
          name: body
          schema:
            "$ref": "#/definitions/Service"
          description: The Service payload.
          x-examples:
            application/json:
              authorized_recipients:
                - XXXYYY79A95Y000X
              department_name: dept
              organization_name: org
              service_id: 2b3e728c1a5d1efa035c
              service_name: service
              authorized_cidrs: []
  "/profiles/{fiscal_code}":
    post:
      tags:
        - restricted
      description: |-
        Create a profile for the user identified by the
        provided fiscal code.
      operationId: createProfile
      summary: create a User Profile
      parameters:
        - $ref: "#/parameters/FiscalCode"
        - in: body
          name: body
          schema:
            $ref: "#/definitions/ExtendedProfile"
          x-examples:
            application/json:
              email: foobar@example.com
      responses:
        "200":
          description: Profile updated.
          schema:
            $ref: "#/definitions/ExtendedProfile"
          examples:
            application/json:
              email: foobar@example.com
              version: 0
        "400":
          description: Invalid payload.
          schema:
            $ref: "#/definitions/ProblemJson"
        "401":
          description: Unauthorized
        "429":
          description: Too many requests
definitions:
  ProblemJson:
    $ref: "https://raw.githubusercontent.com/teamdigitale/io-functions-commons/master/openapi/definitions.yaml#/ProblemJson"
  Service:
    "$ref": "https://raw.githubusercontent.com/teamdigitale/io-functions-commons/master/openapi/definitions.yaml#/Service"
  ServiceId:
    $ref: "https://raw.githubusercontent.com/teamdigitale/io-functions-commons/master/openapi/definitions.yaml#/ServiceId"
  ServiceName:
    $ref: "https://raw.githubusercontent.com/teamdigitale/io-functions-commons/master/openapi/definitions.yaml#/ServiceName"
  OrganizationName:
    $ref: "https://raw.githubusercontent.com/teamdigitale/io-functions-commons/master/openapi/definitions.yaml#/OrganizationName"
  DepartmentName:
    $ref: "https://raw.githubusercontent.com/teamdigitale/io-functions-commons/master/openapi/definitions.yaml#/DepartmentName"
  CIDR:
    $ref: "https://raw.githubusercontent.com/teamdigitale/io-functions-commons/master/openapi/definitions.yaml#/CIDR"
  MaxAllowedPaymentAmount:
    $ref: "https://raw.githubusercontent.com/teamdigitale/io-functions-commons/master/openapi/definitions.yaml#/MaxAllowedPaymentAmount"
  OrganizationFiscalCode:
    $ref: "https://raw.githubusercontent.com/teamdigitale/io-functions-commons/master/openapi/definitions.yaml#/OrganizationFiscalCode"
  ExtendedProfile:
    $ref: "https://raw.githubusercontent.com/teamdigitale/io-functions-commons/master/openapi/definitions.yaml#/ExtendedProfile"

responses: {}
parameters:
  FiscalCode:
    name: fiscal_code
    in: path
    type: string
    maxLength: 16
    minLength: 16
    required: true
    description: The fiscal code of the user, all upper case.
    pattern: "[A-Z]{6}[0-9LMNPQRSTUV]{2}[ABCDEHLMPRST][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]"
    x-example: SPNDNL80R13C555X
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  SubscriptionKey:
    type: apiKey
    name: Ocp-Apim-Subscription-Key
    in: header
    description: The API key obtained through the developer portal.
