name: Deploy Function App (io-functions-admin)

on:
  workflow_dispatch: {}
  push:
    branches:
      - master
    paths:
      - "apps/io-functions-admin/CHANGELOG.md"
      - ".github/workflows/deploy-pipelines.yaml"

jobs:
  deploy:
    name: Deploy io-functions-admin
    uses: pagopa/dx/.github/workflows/release-azure-appsvc-v1.yaml@6645470d1f31a0aad00899bacc93687458570434
    secrets: inherit
    with:
      workspace_name: io-functions-admin
      environment: app-prod
      resource_group_name: io-p-itn-platform-admin-rg-01
      web_app_name: io-p-itn-admin-func-01
      use_labels: false
      disable_auto_staging_deploy: true
    permissions:
      attestations: write
      contents: read
      id-token: write
